*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 20px Arial, Helvetica, sans-serif;
    background-color: black;
}
.clock{
    border: 1px solid #2b143e;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: #1a1414;
}
#Date{
    font-size: 20px !important;
    text-align: center;

}
.clock ul{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
}